h1, p, body {
    margin: 0;
}

header {
    background-color: aquamarine;
    margin: 0;
    padding: 16px;
}

#postAction {
    display: grid;
    align-items: center;
    padding: 16px 24px;
    background-color: aqua;
}

#postTitle, #postContent {
    margin: 0 0 16px 0;
}

#postTitle {
    height: 24px;
}

#postContent {
    height: 72px;
}

#postButton {
    padding: 12px 6px ;
}

label {
    font-weight: bold;
    margin: 0 0 4px 0;
}

#postContainer {
    margin: 0px 24px;
}

#title, header, label {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#title {
    background-color: yellow;
    margin: 0 0 16px 0;
}

#blogBody, #postContent, #postTitle {
    font-family: Arial, sans-serif;
    line-height: 1.4em;
}

hr {
    margin: 16px 0;
    border: 1px solid green;
}